* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #f7f7f0;
  padding: 0px;
  margin: 0px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: whitesmoke;
}

/* ===============Background Image =============*/

.mainpage {
  height: 100vh;
  background-image: url("../AllPhotos/slider1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

/*============= Header bar ============== */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  position: sticky;
  top: 0%;
  width: 100%;
  height: 60px;
  z-index: 10;
  /* position: fixed; */
  background-color: whitesmoke;
}

/* ===========Logo Image =========*/
.logo img {
  height: 40px;
  width: 60px;
}

/*========= header section items ==========*/

/*============== header section items 2 ============*/

/* .ulitem1 ul li a {
  text-decoration: none;
  color: black;
}

.ulitem1 ul {
  list-style: none;
  display: flex;
  align-items: end;
  gap: 40px;
} */

.ulitem1 ul {
  position: relative;
  display: flex;
  list-style: none;

  li {
    padding: 15px;
  }
  a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    transition: color 0.2s;
  }

  ul {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    display: block;
    margin: 12px -12px;
    padding: 0;
    background: whitesmoke;

    border-radius: 5px;
    transition: opacity 0.2s, visibility 0.2s;

  }
  
 :hover {
    ul {
      visibility: visible;
      opacity: 1;
      box-shadow: 0px 3px 5px 2px #ebecf1;
      li {
        a {
          color: black;
        }
      }
    }
  }
}

.ulitem2 ul {
  display: flex;
  list-style: none;
  align-items: center;
  margin-left: 330px;
  gap: 40px;
}

.ulitem2 ul li a {
  text-decoration: none;
  color: black;
}

/* =============hover Effect for all header section items ========== */

.ulitem1 ul li a:hover {
  background-color: yellow;
  padding: 10px 0px 10px 0px;
}

.ulitem2 ul li a:hover {
  background-color: yellow;
  padding: 10px 0px 10px 0px;
}

.navigator {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* ==================Drop Down Box Styling====================== */
.dropbox {
  border: none;
}

/* ================Discount Tag on background image ============= */

.discount {
  margin: 200px auto 0px 80px;
}
.discount h2 {
  font-size: xx-large;
}

/* ==============Styling for Two lines on Discount items ============*/

.smooky {
  color: rgb(64, 62, 62);
}

/* =============Styling for Button============== */

.buybtn {
  padding: 5px 15px;
  border-radius: 15px;
  color: white;
  background-color: rgb(66, 68, 68);
  border: none;
}

/* ================Styling and Structuring for Text bottom of Image ============ */

.sometext {
  display: flex;
  justify-content: center;
}

.text1 {
  color: rgb(64, 62, 62);
}

/* ================Eleven Images are Added in the elewen class========== */

.elewen {
  display: flex;
  justify-content: space-evenly;
}

.elewenimages {
  margin: 22px;
}

.elewenimages img {
  height: 40px;
  width: 40px;
}

.elewenimages p {
  color: rgb(64, 62, 62);
}

/* ===================Styling and Arrange the Dots ================*/

.uldots {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

/* ============= Hover Effect for dots ================== */

.uldots li {
  color: dimgrey;
}

.uldots li:hover {
  color: black;
}

/* ==================Styling for Three Propertyes============ */

.threepropertyes {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.threepropertyes p {
  color: dimgrey;
}

/* ==============Hover Effect for three propertyes ==============*/
.threepropertyes p:hover {
  color: black;
}

/*================ Styling for cards ==============*/
.threeimg {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  margin: 20px 10px;
}
.cards {
  height: auto;
  width: 325px;
  padding: 25px;
  background-color: rgb(255, 255, 252);
  position: relative;
}
.cardimages img {
  height: 300px;
  width: 300px;
}
.salelogo img {
  height: 80px;
  width: 50px;
  position: absolute;
  top: 0px;
  right: 0px;
}
.pricetags p {
  font-size: small;
  text-align: center;
}

/*================= Hover Effect for  tables and stools ========== */

.cardimages img:hover {
  transform: scale(1.05);
}

.salelogo img:hover {
  transform: scale(1.05);
}

/* =============================== */

/* ==============Styling for bottom image=================== */

.bottomimage img {
  width: 100%;
  height: 275px;
}

/* ====================Footer work Starts here=================== */

/* ==================main division in footer======================== */

.mainfooter {
  background-color: rgb(209, 203, 203);
  margin-top: 50px;
  height: 350px;
}

/* ==================Top categories work======================= */

.footrwork p {
  font-size: xx-large;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 20px 40%;
}

/* ========================styling for bottom logo image=========================== */

.bottomlogo img {
  height: 60px;
  width: 80px;
}

/* ===================bottom content styling and alingment=========================== */

.bottomcontent {
  display: flex;
  gap: 50px;
}

.gmail {
  margin: auto 50px;
  color: rgb(53, 51, 51);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: medium;
}

.bottomcontent pre {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(53, 51, 51);
}

.footerulitems {
  display: flex;
  gap: 100px;
}

.footerulitems li {
  list-style: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(53, 51, 51);
  margin-bottom: 5px;
}

/* =====================First page completed================================= */

/* =======================Second page Styling============================== */

.selections {
  display: flex;
  gap: 5px;
  margin: 40px 80px;
}

.selections .home a {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.selections .photos a {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

/* ============Hover Effect for selection classs============ */

.selections .home a:hover {
  color: black;
}

/* =============================== */

/* ====================Styling================== */

.cardphotos {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.card {
  height: 300px;
  width: 350px;
  position: relative;
  overflow: hidden;
}

.card img {
  height: 300px;
  width: 350px;
  position: relative;
  margin: auto;
  overflow: hidden;
  max-width: 100%;
  transition: all 0.9;
  display: block;
}

.card i {
  height: 15px;
  width: 15px;
  padding: 10px;
  background-color: red;
  color: white;
  position: absolute;
  left: 315px;
  bottom: 265px;
  border-bottom-left-radius: 10px;
}

.card:hover img {
  transform: scale(1.1);
}

/* ================End of Styling cards================= */

/* ============Styling for bottombuttons ================= */

.bottombuttons {
  display: flex;
  justify-content: center;
  gap: 1px;
  margin-top: 30px;
}

.bottombuttons button {
  height: 40px;
  width: 60px;
  padding: 10px;
  background-color: rgb(224, 222, 222);
  border: none;
}

.bottombuttons button:hover {
  background-color: rgb(165, 163, 163);
}

/* =================== Second page is completed================================== */

/* ===================Third page Starts Here Stories==============================*/

/* ==================Styling for Third page Cards=========================== */

.storycards {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 30px;
  justify-content: center;
  gap: 60px;
}

.storyimages {
  height: 425px;
  width: 500px;
  background-color: rgb(255, 255, 252);
  position: relative;
}

.card1 {
  /* position: relative; */
  overflow: hidden;
}

.card1 img {
  height: 325px;
  width: 800px;
  margin: auto;
  position: relative;
  overflow: hidden;
  max-width: 100%;
  transition: all 0.3s;
  display: block;
  gap: 20px;
}

.photo img {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  position: absolute;
  top: 360px;
  right: 20px;
}

.info p {
  margin: 10px 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card1:hover img {
  transform: scale(1.1);
}

/* ============FAQ page styling============= */

.faqkimi {
  display: flex;
  justify-content: center;
}

.faqkimi p {
  /* font-size: x-large; */
  color: rgb(43, 43, 43);
  padding: 20px;
}

/* =====inner text Alingment ========== */

.faqheading h2 {
  text-align: center;
  font-size: xx-large;
}

.faqcontent {
  display: flex;
  padding: 0px 100px;
  gap: 50px;
}

.faqcontent1 {
  width: 50%;
  /* font-size: large; */
}

.faqcontent2 {
  width: 50%;
}

.faqcontent3 {
  width: 100%;
}

.faqcontent1 h3 {
  color: #4a4a4a;
  margin-bottom: 7px;
  font-family: Arial, Helvetica, sans-serif;
}

.faqcontent1 p {
  color: #9fa8b3;
  font-family: Arial, Helvetica, sans-serif;
}

.faqcontent3 h3 {
  color: #4a4a4a;
  margin-bottom: 7px;
  font-family: Arial, Helvetica, sans-serif;
}

.faqcontent3 p {
  color: #9fa8b3;
  font-family: Arial, Helvetica, sans-serif;
}

/* ===================Contact Us==================== */
.bothTextandphoto {
  display: flex;
  gap: 100px;
}
.sayhello {
  padding: 10px 80px;
  width: 450px;
}

.sayhello h2 {
  font-size: 3.5em;
  margin-top: 40px;
}

.sayhello h3 {
  color: #4a4a4a;
  font-size: x-large;
}

.sayhello h4 {
  font-size: large;
  padding: 40px 0px 0px;
  margin: 15px 0px 15px 0px;
}
.sayhello p {
  color: #4a4a4a;
  font-size: 16px;
}
.phoneNo {
  color: #4a4a4a;
}

.sayhello .belowText {
  margin-top: 50px;
}

.icons {
  padding: 50px 0px;
}

.icons .fa-brands {
  font-size: xx-large;
}
